<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Author List</title>
    </head>
    <body>
        <%- include('partials/navigation.ejs')%>
        <h1>Book</h1>
        <div>
            <p>ID: <%= book.id %></p>
            <p>Title: <%= book.title %></p>
            <p>Published: <%= book.publishingYear %></p>
            <p>Author ID: <%= book.authorId %></p>
        </div>
    </body>
</html>