<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Book List</title>
    </head>
    <body>
        <%- include('partials/navigation.ejs')%>
        <h1>Author List</h1>
        <ul>
            <% books.forEach(function(book){ %>
                <li>
                    <p>ID: <%= book.id %></p>
                    <p>Title: <%= book.title %></p>
                    <p>Published: <%= book.publishingYear %></p>
                    <p>Author ID: <%= book.authorId %></p>
                    <a href="/book/<%= book.id %>">Details</a>
                    <div>
                        <form method="POST" action="/book/delete/<%= book.id %>">
                            <input type="submit" value="Delete">
                        </form>
                    </div>
                </li>
            <%  }); %>
        </ul>
    </body>
</html>
